/* Reset podstawowy */
body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Nagłówek */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    max-width: 120px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* Menu nawigacyjne */
nav {
    position: relative;
}

.menu-toggle {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    list-style: none;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu.show {
    display: block;
}

.menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Stylizacja zdjęć */
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 170px; /* Przesunięcie poniżej nagłówka */
}

.image-box {
    width: 480px;
    height: 640px;
    background-color: #333;
    border: 2px solid #555;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

#image1 {
    background-image: url('photos/plakat2_smol.png');
}

#image2 {
    background-image: url('photos/plakat3_smol.png');
}

.image-box:hover {
    transform: scale(1.1);
}
