/* Reset podstawowy */
body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nagłówek */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px; /* Tak samo szeroki jak kontener na obrazy */
    width: 100%;
    max-height: 100px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.logo img {
    max-width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 24px; /* Zapobiega zmianie wielkości */
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}

/* Menu nawigacyjne */
nav {
    position: relative;
}

.menu-toggle {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background: white;
    list-style: none;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu.show {
    display: block;
}

.menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Kontener na obrazy */
.image-container {
    display: flex;
    justify-content: center; /* Równo rozmieszcza obrazy */
    align-items: center;
    gap: 20px;
    max-width: 1180px;
    width: 100%;
    margin-top: 150px;
    border-radius: 10px;
}

/* Pojedynczy obrazek */
.image-box {
    text-align: center;
    width: 30%; /* Gwarantuje równe rozłożenie */
}

/* Same obrazy */
.image-box img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    /*border: 3px solid #276566ff; kfadratofe */
    border-radius: 10px;
}

/* Podpis pod obrazkiem */
.image-caption {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.content img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-top: 130px;
}

.content p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin-top: 100px;
}

.oferta a {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin-top: 100px;
}

.oferta img{
    cursor: pointer; /* Kursor wskazuje, że można kliknąć */
    transition: transform 0.3s ease-in-out;
}

.oferta img:hover {
    transform: scale(1.01); /* Subtelny efekt powiększenia przy najechaniu */
}

/* Styl dla pełnoekranowego wyświetlania obrazu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* Układ responsywny */
@media (max-width: 900px) {
    .image-container {
        flex-wrap: wrap; /* Pozwala obrazom przejść do nowej linii jeśli brak miejsca */
    }

    .image-box {
        width: 45%; /* Zmniejszenie szerokości na mniejszych ekranach */
    }
}

@media (max-width: 600px) {
    .image-box {
        width: 90%; /* Obrazy pod sobą na bardzo małych ekranach */
    }
}
